body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3498db; /* Background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.basketball-container {
    position: relative;
    width: 200px; /* Adjusted width */
    height: 300px; /* Adjusted height */
}

.ball {
    width: 50px; /* Ball width */
    height: 50px; /* Ball height */
    background-color: #f39c12; /* Orange color for basketball */
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s ease-in-out infinite; /* Bouncing animation */
}

.jumping-box {
    width: 30px; /* Square box width */
    height: 30px; /* Square box height */
    background-color: #f39c12; /* Orange color */
    position: absolute;
    bottom: -30px; /* Position below the ball */
    left: calc(50% - 15px); /* Center horizontally */
    animation: jump 0.5s alternate infinite ease-in-out; /* Jumping animation */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
